.container
{
     display: flex;
     align-items: center;
     justify-content: center;
     height: 100vh;
}
.item
{
     background-color: #424242;
     border-radius: 3px;
     width: 365px;
	 height: auto;
	 
}
.data{
	padding: 20px;
	background-color: #e0e0e0;
}
#heading-about-us{
	padding-left: 20px;
	color: #fff
	

}
h3
{
	font-family: 'Roboto', serif;
    font-size: 28px;

}
h4
{
	font-family: 'Roboto', serif;
    font-size: 18px;
}
p
{
	font-family: 'Roboto', serif;
    font-size: 18px;

}
